.card.card-sizing {
    min-width: 55%;
    margin: 0 1rem;
}

.img-sizing{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-scroll {
    /* white-space: nowrap; */
    display: flex;
    flex-direction: row;
}

.container-scroll {
    width: 100%;
    overflow: auto;
}

.card-content {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.invis {
    display: none;
}

.card-btns {
    margin-top: .75rem;
    margin-right: .5rem;
}