.portfolio-sect {
    height: 80vh;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.section-title {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
}

@media screen and (max-width: 1200px){
    .portfolio-sect {
        height: 65vh;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 992px){
    .portfolio-sect {
        height: initial;
        margin-bottom: 4rem;
    }
}