.portfolio-sect {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-title {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
}

@media screen and (max-width: 992px){
    .portfolio-sect {
        height: initial;
        margin-bottom: 5rem;
    }
}