.resume-sect {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

.section-title {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
}

ul {
    position: relative;
}

li {
    list-style: none;
    /* padding-left: .5rem; */
    height: initial;
    /* border-left: 2px solid #35c71b; */
    position: relative;
}

li h2::before {
    content: '>';
    color: #2ece12;
    position: absolute;
    left: -1.75rem;
    top: -.1rem;
}

ul li ul li {
    list-style: circle;
    border-left: none;
}

ul li ul li:first-child{
    margin-top: -.75rem;
}

.offset-dl a {
    margin-left: 2rem;
    color: #2ece12;
    font-weight:600;
}

@media (min-width: 1400px){
    .container.ultra-wide {
        max-width: max-content;
        margin-left: 1rem;
    }
}