/* @media screen and (min-width: 990px){
    .about-sect {
        height: 90vh;
        display: flex;
        align-items: center;
    }
} */

.about-sect{
    height: 110vh;
    display: flex;
    align-items: center;
}

.lang-card {
    width: 100%;
}

.grid-align-comp {
    align-items: center;
}

.grid-align-mobile {
    align-items: flex-end;
}

.section-title {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
}